.header-main {
    background-color: var(--pr-bg);
    padding-top: .5em;
    padding-bottom: .5em;
    position: relative;
    z-index: 40;
    transition: all .3s ease-in-out 0s;
}

.header-main-collapse {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/************************/
.header-main-container h1 {
    max-width: 200px;
    text-align: center;
    color: var(--sc-txt);
    font-weight: 300;
}

/************************/

.nav-toggle-btn {
    padding: 1em;
    margin-right: -1em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 20;
}

.nav-toggle-btn:hover>span {
    background-color: var(--sc-txt);
}

.nav-toggle-btn>span {
    width: 25px;
    height: 3px;
    background-color: var(--pr-txt);
    display: block;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out 0s;
}

.nav-toggle-btn>span:last-child {
    margin-bottom: 0;
}

.nav-toggle-btn.close span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.nav-toggle-btn.close span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-toggle-btn.close span:nth-child(2) {
    background-color: transparent;
}

.header-nav-bar-mobile {
    background-color: var(--pr-bg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    transform: translateY(-100%);
    visibility: hidden;
    transition: all .3s ease-in-out 0s;

    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-nav-bar-mobile.show {
    transform: translateY(0%);
    visibility: visible;
}

.header-nav-bar-mobile nav {
    padding-top: 5em;
    padding-bottom: 1.5em;
    width: 100%;
}

.header-nav-bar-mobile nav ul {
    list-style-type: none;
}

.header-nav-bar-mobile nav ul li a {
    color: var(--pr-txt);
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .3s;
}

.header-nav-bar-mobile nav ul li a:hover,
.header-nav-bar-mobile nav ul li a:focus,
.nav-social-media a:hover,
.nav-social-media a:focus {
    color: var(--sc-txt);
}

.nav-social-media {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-social-media a {
    font-size: 1.875rem;
    padding: .5em;
    display: block;
    color: var(--pr-txt);
    transition: all .3s;
}

.header-nav-bar-desktop {
    display: none;
}

.header-nav-bar-desktop a.active {
    pointer-events: none;
    color: var(--sc-txt);
}

@media (min-width:900px) {
    .nav-social-media, .header-nav-bar-mobile, .nav-toggle-btn {
        display: none;
    }

    .header-nav-bar-desktop {
        flex: 1;
        max-width: 600px;
        display: block;
    }

    .header-nav-bar-desktop nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .header-nav-bar-desktop nav ul li a {
        color: whitesmoke;
        text-decoration: none;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-weight: 500;
        transition: .2s;
    }

    .header-nav-bar-desktop nav ul li a:hover {
        color: var(--sc-txt);
    }
}