:root {
    --pr-bg: #260a49;
    --pr-txt: whitesmoke;
    --sc-txt: #9c5f8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.no-scroll {
    overflow: hidden !important;
}

.container {
    max-width: 100%;
    padding-left: .8125rem;
    padding-right: .8125rem;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}

/* Header and Navbar */

.header-main {
    background-color: var(--pr-bg);
    padding-top: .5em;
    padding-bottom: .5em;
    position: relative;
    z-index: 40;
    transition: all .3s ease-in-out 0s;
}

.header-main-collapse {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/************************/
.header-main-container h1 {
    max-width: 200px;
    text-align: center;
    color: var(--sc-txt);
    font-weight: 300;
}

/************************/

.nav-toggle-btn {
    padding: 1em;
    margin-right: -1em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 20;
}

.nav-toggle-btn:hover>span,
.nav-toggle-btn:focus>span {
    background-color: var(--sc-txt);
}

.nav-toggle-btn>span {
    width: 25px;
    height: 3px;
    background-color: var(--pr-txt);
    display: block;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out 0s;
}

.nav-toggle-btn>span:last-child {
    margin-bottom: 0;
}

.nav-toggle-btn.close span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.nav-toggle-btn.close span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-toggle-btn.close span:nth-child(2) {
    background-color: transparent;
}

.header-nav-bar-mobile {
    background-color: var(--pr-bg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    transform: translateY(-100%);
    visibility: hidden;
    transition: all .3s ease-in-out 0s;

    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-nav-bar-mobile.show {
    transform: translateY(0%);
    visibility: visible;
}

.header-nav-bar-mobile nav {
    padding-top: 5em;
    padding-bottom: 1.5em;
    width: 100%;
}

.header-nav-bar-mobile nav ul {
    list-style-type: none;
}

.header-nav-bar-mobile nav ul li a {
    color: var(--pr-txt);
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .3s;
}

.header-nav-bar-mobile nav ul li a:hover,
.header-nav-bar-mobile nav ul li a:focus,
.nav-social-media a:hover,
.nav-social-media a:focus {
    color: var(--sc-txt);
}

.nav-social-media {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-social-media a {
    font-size: 1.875rem;
    padding: .5em;
    display: block;
    color: var(--pr-txt);
    transition: all .3s;
}

/* Hero Section */
.hero-section {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.slideshow-container {
    display: flex;
    width: fit-content;
    transition: all .4s;
}

.slideshow-container .slideshow {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slideshow-container .slideshow .text {
    position: absolute;
    bottom: 0;
    color: red;
}

.slideshow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5em;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--pr-txt);
}

.slideshow-prev-btn {
    left: 5%;
}

.slideshow-next-btn {
    right: 5%;
}

.slideshow-index-div {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.slideshow-index-div button {
    display: inline-block;
    width: 15px; 
    height: 15px; 
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .2s;
    margin-right: .3em;
}

.slideshow-index-div button:last-child {
    margin-right: 0;
}

.slideshow-index-div button.active {
    background-color: rgb(150, 150, 150);
}

.slideshow-index-div button:hover,
.slideshow-index-div button:focus {
    background-color: rgb(190, 190, 190);
}