:root {
    --pr-bg: #260a49;
    --pr-txt: whitesmoke;
    --sc-txt: #9c5f8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.no-scroll {
    overflow: hidden !important;
}

.container {
    max-width: 100%;
    padding-left: .8125rem;
    padding-right: .8125rem;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}